$colors: (
  primary: (
    50: hsla(226, 95%, 5%, 1),
    100: hsla(226, 95%, 10%, 1),
    200: hsla(226, 95%, 20%, 1),
    300: hsla(226, 95%, 30%, 1),
    400: hsl(226, 95%, 40%),
    500: hsl(226, 95%, 50%),
    600: hsl(226, 95%, 61%),
    700: hsl(226, 95%, 70%),
    800: hsla(226, 95%, 80%, 1),
    900: hsla(226, 95%, 90%, 1),
    950: hsla(226, 95%, 95%, 1),
    970: hsla(226, 95%, 97%, 1),
  ),
  secondary: (
    100: hsla(177, 100%, 10%, 1),
    150: hsla(177, 100%, 15%, 1),
    250: hsla(177, 100%, 25%, 1),
    350: hsla(177, 100%, 35%, 1),
    400: hsla(177, 100%, 42%, 1),
    450: hsla(177, 100%, 46%, 1),
    550: hsla(177, 100%, 55%, 1),
    650: hsla(177, 100%, 65%, 1),
    750: hsla(177, 100%, 75%, 1),
    850: hsla(177, 100%, 85%, 1),
    950: hsla(177, 100%, 95%, 1),
  ),
  tertiary: (
    100: hsl(201, 91%, 10%),
    200: hsl(201, 91%, 20%),
    300: hsl(201, 91%, 30%),
    400: hsl(201, 91%, 40%),
    500: hsl(201, 91%, 50%),
    600: hsl(201, 91%, 60%),
    700: hsl(201, 91%, 70%),
    800: hsl(201, 91%, 80%),
    900: hsl(201, 91%, 90%),
  ),
  accent: (
    100: hsla(302, 87%, 22%, 1),
    200: hsla(302, 87%, 32%, 1),
    300: hsla(302, 87%, 42%, 1),
    400: hsla(302, 87%, 52%, 1),
    500: hsla(302, 87%, 62%, 1),
    600: hsla(302, 87%, 72%, 1),
    700: hsla(302, 87%, 82%, 1),
    800: hsla(302, 87%, 92%, 1),
    900: hsla(302, 87%, 100%, 1),
  ),
  default: (
    250: hsla(219, 50%, 25%, 1),
    350: hsla(219, 50%, 35%, 1),
    450: hsla(219, 50%, 45%, 1),
    550: hsla(219, 50%, 55%, 1),
    650: hsla(219, 50%, 65%, 1),
    750: hsla(219, 50%, 75%, 1),
    850: hsla(219, 50%, 85%, 1),
    900: hsla(219, 50%, 90%, 1),
    950: hsla(219, 50%, 95%, 1),
    970: hsla(219, 50%, 97%, 1),
  ),
  neutral: (
    350: hsla(0, 0%, 35%, 1),
    450: hsla(0, 0%, 45%, 1),
    550: hsla(0, 0%, 55%, 1),
    650: hsla(0, 0%, 65%, 1),
    750: hsla(0, 0%, 75%, 1),
    850: hsla(0, 0%, 85%, 1),
    950: hsla(0, 0%, 95%, 1),
    1000: hsla(0, 0%, 100%, 1),
  ),
  positive: (
    450: hsla(154, 80%, 45%, 1),
  ),
  negative: (
    150: hsl(0, 93%, 28%),
    250: hsla(0, 80%, 35%, 1),
    350: hsla(0, 80%, 39%, 1),
    450: hsla(0, 80%, 45%, 1),
    750: hsla(0, 80%, 75%, 1),
    850: hsl(0, 74%, 89%),
    950: hsla(0, 80%, 95%, 1),
    970: hsla(0, 80%, 97%, 1),
  ),
);

:root {
  /// Build css custom variables for colors
  @each $color-type, $shades in $colors {
    @each $shade, $color in $shades {
      --clr-#{$color-type}-#{$shade}: #{$color};
    }
  }

  /// Build css utility for colors
  @each $color-type, $shades in $colors {
    @each $shade, $color in $shades {
      .fc-#{$color-type}-#{$shade} {
        color: $color;
      }
    }
  }
}
