$colors: (
  primary: (
    50: hsla(226, 95%, 5%, 1),
    100: hsla(226, 95%, 10%, 1),
    200: hsla(226, 95%, 20%, 1),
    300: hsla(226, 95%, 30%, 1),
    400: hsl(226, 95%, 40%),
    500: hsl(226, 95%, 50%),
    600: hsl(226, 95%, 61%),
    700: hsl(226, 95%, 70%),
    800: hsla(226, 95%, 80%, 1),
    900: hsla(226, 95%, 90%, 1),
    950: hsla(226, 95%, 95%, 1),
    970: hsla(226, 95%, 97%, 1),
  ),
  secondary: (
    450: hsla(177, 100%, 46%, 1),
  ),
  default: (
    250: hsla(219, 50%, 25%, 1),
    450: hsla(219, 50%, 45%, 1),
  ),
  neutral: (
    450: hsla(0, 0%, 45%, 1),
  ),
  positive: (
    450: hsla(154, 80%, 45%, 1),
  ),
);

:root {
  /// Build css custom variables for colors
  @each $color-type, $shades in $colors {
    @each $shade, $color in $shades {
      --clr-#{$color-type}-#{$shade}: #{$color};
    }
  }

  /// Build css utility for colors
  @each $color-type, $shades in $colors {
    @each $shade, $color in $shades {
      .fc-#{$color-type}-#{$shade} {
        color: $color;
      }
    }
  }
}
