@use './mixins' as *;

$header-height-sm: 80px;
$header-height-lg: 120px;
$header-height-sm--scroll: 50px;
$header-height-lg--scroll: 80px;

$clr-default-250-svg: brightness(0) saturate(100%) invert(19%) sepia(7%)
  saturate(5986%) hue-rotate(185deg) brightness(94%) contrast(92%);

$clr-default-650-svg: brightness(0) saturate(100%) invert(69%) sepia(7%)
  saturate(2860%) hue-rotate(184deg) brightness(86%) contrast(89%);

$clr-primary-400-svg: brightness(0) saturate(100%) invert(14%) sepia(94%)
  saturate(3241%) hue-rotate(228deg) brightness(98%) contrast(113%);

$clr-negative-350-svg: brightness(0) saturate(100%) invert(17%) sepia(59%)
  saturate(5239%) hue-rotate(352deg) brightness(87%) contrast(98%);
