@use '../abstracts/' as *;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  @include breakpoint('large') {
    padding-top: $header-height-lg;
  }
}

a {
  color: var(--clr-default-250);
  text-decoration: none;

  @include on-event {
    text-decoration: none;
  }
}
