@use '../../abstracts/' as *;

.hero {
  &__container {
    gap: 3rem;

    margin-inline: auto;

    @include breakpoint('large') {
      gap: 3rem;

      max-width: 70%;
    }
  }

  &__ctas {
    gap: 1.5rem;
    flex-direction: column;

    width: 100%;

    @include breakpoint('large') {
      flex-direction: row;
      gap: 2.5rem;
    }
  }

  &__btn-a,
  &__btn-b {
    max-width: 250px;
    width: 100%;

    @include breakpoint('large') {
      flex-basis: 100%;
    }
  }

  &__image {
    margin-top: 2em;
    margin-bottom: 3rem;

    @include breakpoint('large') {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
  }
}
