:root {
  --clr-primary-50: hsl(226, 95%, 5%);
  --clr-primary-100: hsl(226, 95%, 10%);
  --clr-primary-200: hsl(226, 95%, 20%);
  --clr-primary-300: hsl(226, 95%, 30%);
  --clr-primary-400: hsl(226, 95%, 40%);
  --clr-primary-500: hsl(226, 95%, 50%);
  --clr-primary-600: hsl(226, 95%, 61%);
  --clr-primary-700: hsl(226, 95%, 70%);
  --clr-primary-800: hsl(226, 95%, 80%);
  --clr-primary-900: hsl(226, 95%, 90%);
  --clr-primary-950: hsl(226, 95%, 95%);
  --clr-primary-970: hsl(226, 95%, 97%);
  --clr-secondary-450: hsl(177, 100%, 46%);
  --clr-default-250: hsl(219, 50%, 25%);
  --clr-default-450: hsl(219, 50%, 45%);
  --clr-default-850: hsl(219, 50%, 85%);
  --clr-neutral-350: hsl(0, 0%, 35%);
  --clr-neutral-450: hsl(0, 0%, 45%);
  --clr-neutral-750: hsl(0, 0%, 75%);
  --clr-neutral-950: hsl(0, 0%, 95%);
  --clr-neutral-1000: hsl(0, 0%, 100%);
  --clr-positive-450: hsl(154, 80%, 45%);
  --clr-negative-150: hsl(0, 93%, 28%);
  --clr-negative-250: hsl(0, 80%, 35%);
  --clr-negative-350: hsl(0, 80%, 39%);
  --clr-negative-450: hsl(0, 80%, 45%);
  --clr-negative-850: hsl(0, 74%, 89%);
  --clr-negative-950: hsl(0, 80%, 95%);
}
:root .fc-primary-50 {
  color: hsl(226, 95%, 5%);
}
:root .fc-primary-100 {
  color: hsl(226, 95%, 10%);
}
:root .fc-primary-200 {
  color: hsl(226, 95%, 20%);
}
:root .fc-primary-300 {
  color: hsl(226, 95%, 30%);
}
:root .fc-primary-400 {
  color: hsl(226, 95%, 40%);
}
:root .fc-primary-500 {
  color: hsl(226, 95%, 50%);
}
:root .fc-primary-600 {
  color: hsl(226, 95%, 61%);
}
:root .fc-primary-700 {
  color: hsl(226, 95%, 70%);
}
:root .fc-primary-800 {
  color: hsl(226, 95%, 80%);
}
:root .fc-primary-900 {
  color: hsl(226, 95%, 90%);
}
:root .fc-primary-950 {
  color: hsl(226, 95%, 95%);
}
:root .fc-primary-970 {
  color: hsl(226, 95%, 97%);
}
:root .fc-secondary-450 {
  color: hsl(177, 100%, 46%);
}
:root .fc-default-250 {
  color: hsl(219, 50%, 25%);
}
:root .fc-default-450 {
  color: hsl(219, 50%, 45%);
}
:root .fc-default-850 {
  color: hsl(219, 50%, 85%);
}
:root .fc-neutral-350 {
  color: hsl(0, 0%, 35%);
}
:root .fc-neutral-450 {
  color: hsl(0, 0%, 45%);
}
:root .fc-neutral-750 {
  color: hsl(0, 0%, 75%);
}
:root .fc-neutral-950 {
  color: hsl(0, 0%, 95%);
}
:root .fc-neutral-1000 {
  color: hsl(0, 0%, 100%);
}
:root .fc-positive-450 {
  color: hsl(154, 80%, 45%);
}
:root .fc-negative-150 {
  color: hsl(0, 93%, 28%);
}
:root .fc-negative-250 {
  color: hsl(0, 80%, 35%);
}
:root .fc-negative-350 {
  color: hsl(0, 80%, 39%);
}
:root .fc-negative-450 {
  color: hsl(0, 80%, 45%);
}
:root .fc-negative-850 {
  color: hsl(0, 74%, 89%);
}
:root .fc-negative-950 {
  color: hsl(0, 80%, 95%);
}

:root {
  --fs-sm-300: 1rem;
  --fs-sm-400: 1.125rem;
  --fs-sm-500: 1.563rem;
  --fs-sm-600: 1.953rem;
  --fs-sm-700: 2.441rem;
  --fs-sm-800: 3.052rem;
  --fs-lg-300: 1rem;
  --fs-lg-400: 1.425rem;
  --fs-lg-500: 2rem;
  --fs-lg-600: 2.827rem;
  --fs-lg-700: 4rem;
  --fs-lg-800: 3.052rem;
}
:root .fs-sm-300 {
  font-size: 1rem;
}
:root .fs-sm-400 {
  font-size: 1.125rem;
}
:root .fs-sm-500 {
  font-size: 1.563rem;
}
:root .fs-sm-600 {
  font-size: 1.953rem;
}
:root .fs-sm-700 {
  font-size: 2.441rem;
}
:root .fs-sm-800 {
  font-size: 3.052rem;
}
:root .fs-lg-300 {
  font-size: 1rem;
}
:root .fs-lg-400 {
  font-size: 1.425rem;
}
:root .fs-lg-500 {
  font-size: 2rem;
}
:root .fs-lg-600 {
  font-size: 2.827rem;
}
:root .fs-lg-700 {
  font-size: 4rem;
}
:root .fs-lg-800 {
  font-size: 3.052rem;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: var(--clr-primary-400);
  text-decoration: none;
}
a:hover, a:active, a:focus, a:focus-within {
  color: var(--clr-primary-500);
  text-decoration: underline;
}

@font-face {
  font-family: "Open Sans";
  src: url("/public/fonts/OpenSans-Bold.woff2") format("woff2"), url("/public/fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/public/fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("/public/fonts/OpenSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/public/fonts/OpenSans-Light.woff2") format("woff2"), url("/public/fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/public/fonts/OpenSans-Medium.woff2") format("woff2"), url("/public/fonts/OpenSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/public/fonts/OpenSans-SemiBold.woff2") format("woff2"), url("/public/fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/public/fonts/OpenSans-Regular.woff2") format("woff2"), url("/public/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/public/fonts/Poppins-Bold.woff2") format("woff2"), url("/public/fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/public/fonts/Poppins-ExtraBold.woff2") format("woff2"), url("/public/fonts/Poppins-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/public/fonts/Poppins-Black.woff2") format("woff2"), url("/public/fonts/Poppins-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/public/fonts/Poppins-ExtraLight.woff2") format("woff2"), url("/public/fonts/Poppins-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/public/fonts/Poppins-Medium.woff2") format("woff2"), url("/public/fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/public/fonts/Poppins-Light.woff2") format("woff2"), url("/public/fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/public/fonts/Poppins-SemiBold.woff2") format("woff2"), url("/public/fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/public/fonts/Poppins-Regular.woff2") format("woff2"), url("/public/fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("/public/fonts/Poppins-Thin.woff2") format("woff2"), url("/public/fonts/Poppins-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul,
ol {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.heading {
  color: var(--clr-default-250);
  font-family: Poppins, sans-serif;
}

.button {
  font-size: 16px;
  font-weight: 700;
  border-radius: 0.25rem;
  height: 3rem;
  padding-inline: 1.5rem;
  width: -moz-min-content;
  width: min-content;
}
.button:hover {
  cursor: pointer;
  text-decoration: none;
}
.button--disabled, .button--disabled:hover {
  cursor: not-allowed;
}
.button--primary {
  color: var(--clr-neutral-1000);
  background-color: var(--clr-primary-600);
}
.button--primary:hover {
  color: var(--clr-default-850);
  background-color: var(--clr-primary-500);
}
.button--primary.button--disabled, .button--primary.button--disabled:hover {
  background-color: var(--clr-neutral-350);
  color: var(--clr-neutral-750);
}
.button--secondary {
  background-color: var(--clr-primary-970);
  color: var(--clr-primary-600);
}
.button--secondary:hover {
  color: var(--clr-primary-500);
  background-color: var(--clr-primary-900);
}
.button--secondary.button--disabled, .button--secondary.button--disabled:hover {
  background-color: var(--clr-neutral-950);
  color: var(--clr-neutral-450);
}
.button--destructive-primary {
  background-color: var(--clr-negative-450);
  color: var(--clr-neutral-1000);
}
.button--destructive-primary:hover {
  background-color: var(--clr-negative-350);
  color: var(--clr-negative-950);
}
.button--destructive-secondary {
  background-color: var(--clr-negative-950);
  color: var(--clr-negative-250);
}
.button--destructive-secondary:hover {
  background-color: var(--clr-negative-850);
  color: var(--clr-negative-150);
}

.container {
  max-width: 1440px;
  width: calc(100% - 2rem);
  margin-inline: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}/*# sourceMappingURL=main.css.map */